In [1]:
import requests
import pandas as pd
import time, random
import urllib.request
import xmltodict
import pandas as pd
import numpy as np

In [2]:
def get_user_data(user_id, key='ZRnySx6awjQuExO9tKEJXw', v='2', shelf='read', per_page='200'):
    api_url_base = 'https://www.goodreads.com/review/list/'
    final_url = api_url_base + user_id + '.xml?key=' + key + \
        '&v=' + v + '&shelf=' + shelf + '&per_page=' + per_page
    contents = urllib.request.urlopen(final_url).read()
    return(contents)

In [ ]:
https://www.goodreads.com/review/list/5312173.xml?key=ZRnySx6awjQuExO9tKEJXw&v=2&shelf=read&per_page=200

In [3]:
users = pd.read_csv('users.csv')

In [4]:
user_ids = []
for user in users.user_url:
    user_ids.append(''.join(filter(lambda i: i.isdigit(), user)))

In [5]:
np.random.uniform(1,5)

2.7222253438100807

In [ ]:
big_df = pd.DataFrame()
for user_id in user_ids:
    try:
        data = get_user_data(user_id)

    except:
        print(f'Error User: {user_id}')
        continue
    parsed = xmltodict.parse(data)
    user_df = pd.json_normalize(parsed['GoodreadsResponse']['reviews']['review'])
    user_df = user_df.iloc[:,[0,1,7,8,18,22,30,35,37,38]]
    user_df['user_id'] = user_id
    big_df = pd.concat([big_df, user_df])
    big_df.to_csv('users_history.csv', index=False)
    time.sleep(np.random.uniform(1,5))

Error User: 4971692
Error User: 16384209
Error User: 3672777
Error User: 26402455
Error User: 65321843
Error User: 4858513
Error User: 4687823
Error User: 40133512010
Error User: 652877
Error User: 10502567
Error User: 11166121
Error User: 2156200
Error User: 3842653
Error User: 3455554
Error User: 32524334
Error User: 1746727
Error User: 24569331
Error User: 108298
Error User: 14514998
Error User: 4972138

In [ ]:
history = pd.read_csv('users_history.csv')

In [81]:
df1, df2, df3 = df.iloc[:2], df.iloc[2:4], df.iloc[4:6]

In [83]:
big_df = pd.DataFrame()
for df in [df1, df2, df3]:
    big_df = pd.concat([big_df, df])

In [93]:
df = pd.json_normalize(data['GoodreadsResponse']['reviews']['review'])
#df = df.iloc[:,[0,1,7,8,18,22,30,35,37,38]]

In [58]:
df = df.iloc[:3,[0,1,7,8,18,22,30,35,37,38]]
df['user_id'] = user_id

In [88]:
for key, value in data['GoodreadsResponse'].items():
    print(key)

Request
shelf
reviews

In [95]:
df.iloc[:3,[0,1,7,8,18,22,24,25,30,35,37,38]]

,id,rating,started_at,read_at,book.id.#text,book.text_reviews_count.#text,book.title,book.title_without_series,book.num_pages,book.publication_year,book.average_rating,book.ratings_count
0,4424684252,2,Thu Dec 30 00:00:00 -0800 2021,Fri Dec 31 00:00:00 -0800 2021,57637452,15,Once Upon a Time We Ate Animals: The Future of...,Once Upon a Time We Ate Animals: The Future of...,288,2021,3.80,498
1,4406846067,5,Thu Dec 23 00:00:00 -0800 2021,Wed Dec 29 00:00:00 -0800 2021,55918521,516,Midnight in Everwood,Midnight in Everwood,384,2021,3.75,2266
2,4401201075,4,Tue Dec 21 00:00:00 -0800 2021,Thu Dec 23 00:00:00 -0800 2021,57299301,74,"The North Wind (The Four Winds, #1)",The North Wind,551,2022,4.15,93

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 61 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            200 non-null    object
 1   rating                                        200 non-null    object
 2   votes                                         200 non-null    object
 3   spoiler_flag                                  200 non-null    object
 4   spoilers_state                                200 non-null    object
 5   recommended_for                               0 non-null      object
 6   recommended_by                                0 non-null      object
 7   started_at                                    195 non-null    object
 8   read_at                                       196 non-null    object
 9   date_added                                    200 non-null    object
 10  date_updated                                  200 non-null    object
 11  read_count                                    200 non-null    object
 12  body                                          199 non-null    object
 13  comments_count                                200 non-null    object
 14  url                                           200 non-null    object
 15  link                                          200 non-null    object
 16  owned                                         200 non-null    object
 17  book.id.@type                                 200 non-null    object
 18  book.id.#text                                 200 non-null    object
 19  book.isbn                                     126 non-null    object
 20  book.isbn13                                   137 non-null    object
 21  book.text_reviews_count.@type                 200 non-null    object
 22  book.text_reviews_count.#text                 200 non-null    object
 23  book.uri                                      200 non-null    object
 24  book.title                                    200 non-null    object
 25  book.title_without_series                     200 non-null    object
 26  book.image_url                                200 non-null    object
 27  book.small_image_url                          200 non-null    object
 28  book.large_image_url                          0 non-null      object
 29  book.link                                     200 non-null    object
 30  book.num_pages                                166 non-null    object
 31  book.format                                   170 non-null    object
 32  book.edition_information                      25 non-null     object
 33  book.publisher                                174 non-null    object
 34  book.publication_day                          168 non-null    object
 35  book.publication_year                         173 non-null    object
 36  book.publication_month                        169 non-null    object
 37  book.average_rating                           200 non-null    object
 38  book.ratings_count                            200 non-null    object
 39  book.description                              196 non-null    object
 40  book.authors.author.id                        200 non-null    object
 41  book.authors.author.name                      200 non-null    object
 42  book.authors.author.role                      1 non-null      object
 43  book.authors.author.image_url.@nophoto        200 non-null    object
 44  book.authors.author.image_url.#text           200 non-null    object
 45  book.authors.author.small_image_url.@nophoto  200 non-null    object
 46  book.authors.author.small_image_url.#text     200 non-null    object
 47  book.authors.author.link                      200 non-null    object
 48  book.authors.author.average_rating            200 non-null    object
 49  book.authors.author.ratings_count             200 non-null    object
 50  book.authors.author.text_reviews_count        200 non-null    object
 51  book.published                                173 non-null    object
 52  book.work.id                                  200 non-null    object
 53  book.work.uri                                 200 non-null    object
 54  shelves.shelf                                 199 non-null    object
 55  book.isbn.@nil                                74 non-null     object
 56  book.isbn13.@nil                              63 non-null     object
 57  shelves.shelf.@name                           1 non-null      object
 58  shelves.shelf.@exclusive                      1 non-null      object
 59  shelves.shelf.@id                             1 non-null      object
 60  shelves.shelf.@review_shelf_id                1 non-null      object
dtypes: object(61)
memory usage: 95.4+ KB